

#moviePoster {
  display:flex;

  height: 125px;
  width: 100px;
  padding: 10px;


}

#movieTitle {
  display:flex;
  flex-wrap: wrap;
  width: 100px;
  height: auto;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;


}

li {
  list-style: none

}

ul {
  display: flex;
  flex-wrap: wrap;

}

#container h1 {
  text-align: center;
}

#movieDetailsContainer {
  font-family: sans-serif;
  font-size: 24px;
  width: 100%;

}

#bigMoviePoster {
  float:left;
}

#movieDetails {
  padding: 50px;
  margin-left: 300px;
}
